.pageLayout {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  .topRow {
    display: grid;
    grid-template-columns: 1fr 1fr; // Two columns of equal width
    height: 100%;
  }
}
