@use "../../_variables.scss" as variables;

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: 60px;
  background: rgb(223, 223, 223);
  padding: 0;
  padding-left: calc(2 * variables.$grid-spacing);
  padding-right: calc(2 * variables.$grid-spacing);
  grid-gap: variables.$grid-spacing;

  .links {
    display: flex;
    justify-content: flex-start;
    gap: calc(4 * variables.$grid-spacing);

    .link {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      text-decoration: underline;
    }
  }
}
